multiome_dynamic_regulation/tutorial_notebooks/
multiome_dynamic_regulation/py_scripts/analysis/cache_directory
perturb_seq_gears/
pseudotime_methods/
*.log
*.out
multiome_dynamic_regulation/py_scripts/dynamic_grn/debug_subset_cell.py
multiome_dynamic_regulation/bash_scripts/preproc/1b_traj_windows_parallel.sbatch